* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding-left: 120px;
  padding-right: 120px; */
  padding: 16px 120px;
  height: 92px;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.nav-container button {
  background-color: #30B868;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  width: 168px;
  height: 44px;
}