* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding-left: 120px;
  padding-right: 120px; */
  padding: 16px 120px;
  height: 92px;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.nav-container button {
  background-color: #30B868;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  width: 168px;
  height: 44px;
}

#banner {
  background-image: url(assets/hero-bg.png);
  width: 100%;
  height: 647px;
  text-align: center;
  color: #ffffff;
}

.banner-text {
  /* border: 1px solid red; */
  margin: 0 120px 179.5px 120px;
  padding-top: 120px;
}

.ea-btn {
  background-color: #fff;
  width: 229px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 12px;
  border-radius: 1000px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.out {
  background-color: #30b8691f;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  padding: 2px;
}
.mid {
  background-color: #30b86960;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  padding: 3px;
}
.in {
  background-color: #30B868;
  width: 6px;
  height: 6px;
  border-radius: 8px;
}

.ea h4 {
  color: #30B868;
}

.banner-info {
  width: 50%;
  max-width: 770px;
  height: 168px;
  margin: 0 auto;
  font-size: 30px;
}

.banner-info p {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 34px;
}

.banner-foot {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 80px;
}

.banner-foot .green-btn {
  background-color: #30B868;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  width: 251px;
  height: 52px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.banner-foot .transparent-btn {
  background-color: transparent;
  border: 1px whitesmoke solid;
  border-radius: 4px;
  line-height: 12px;
  width: 198px;
  height: 52px;
  font-size: 16px;
  line-height: auto;
  color: #ffffff;
}

#notes {
  width: 100%;
  height: 448px;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 120px;
}

#notes h1 {
  padding-top: 40px;
  padding-bottom: 16px;
}

#notes p {
  margin-bottom: 44px;
}

#notes .card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

#notes .card-container .card {
  box-shadow: 0 0 8px #00000011;
  width: 322px;
  height: 300px;
  align-content: center;
}

#notes .card-container .card img {
  background-color: #F95555;
  width: 60px;
  height: 60px;
  padding: 14px;
  border-radius: 1000px;
}

#notes .card-container .card h2 {
  margin-bottom: 16px;
  margin-top: 16px;
}

#notes .card-container .card p {
  padding-left: 24px;
  padding-right: 24px;
}